@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}



@font-face {
  font-family: MichromaRegular;
  src: url(./assets/fonts/Michroma/Michroma-Regular.ttf);
}


@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}
body {
  font-family: MichromaRegular;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}